.main {
    background-color:white;
    min-width: ;
    /* display: flex; */
}

.tabs {
    box-shadow: 1px 1px 1px 1px #fff;
    height: 30px;
    width: auto;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    padding-bottom: 2px;
    margin-left: 10px;
}

.activetab {
    box-shadow: 2px 2px 2px 2px blue;
    height: 30px;
    width: auto;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    padding-bottom: 2px;
    margin-left: 10px;
    background-color: #1A3B8C;
}

button.tabs {
    margin: auto;
}

span.tabs {
    flex: 1;
    height: 100%;
    margin: 0px;
    color: #FFFFFF;
}

span.tabs:hover {
    color: #F47B20;
    transition: 0s;
    cursor: pointer;
}

.sidebar {
    /* overflow: hidden; */
    /* height: 100vh;
    width: 150px; */
    width: 0px;
    margin-left: -100px;
    background-color: #1A3B8C;
    /* float: left; */
    transition: 1s;
}
.btncont{

    text-align: center;
}
span.menu {
    text-align: center;
    font-size: x-large;
}

span.menu:hover {
    cursor: pointer;
    transition: 2s;
}

button.menu {
    height: auto;
    width: 100%;
    font-size: x-large;
    color: white;
    background-color: transparent;
}
button.menu:hover
{
    color: #F47B20;

}

.content {
    flex-grow: 1;
    height: 100vh;
    overflow-y: auto;
    background-color: #faeedc;
}

.header {
    height: 50px;
    width: 100%;
    font-size: x-large;
    background-color: #2e2d2d;
    display: flex;
    align-items: center;
    background-color: #0A1D50;
    /* justify-content: center; */
}
