.home
{
    display:flex;
    flex-wrap: wrap;
}

.stat
{
    align-content: center;
    vertical-align: middle;
    align-items: center;
    border: 10px;
    box-shadow: 10px 10px 10px 10px ;
    border-radius: 12px;
    height: 300px;
    width: 300px;
    margin: 20px;
}

