.main{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
                  "side-bar  content"
                  "side-bar content"
                  "side-bar content";

background-color: #021c1e ;
}


.side-bar{
  grid-area: side-bar;
}

.content{
grid-area: content;
}

